<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WIA2007MAD"
        tools:targetApi="31">

        <activity
            android:name=".ELearning.MainHomePage"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ELearning.ScholarshipGrant"
            android:parentActivityName=".ELearning.MainPageElearning">
        </activity>
        <activity android:name=".ELearning.Workshop"
            android:parentActivityName=".ELearning.MainPageElearning">
        </activity>

        <activity android:name=".ELearning.ResourceSharingHub"
            android:parentActivityName=".ELearning.MainPageElearning">
        </activity>

        <activity android:name=".ELearning.ScholarshipDetails"
            android:parentActivityName=".ELearning.ScholarshipGrant"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".ELearning.webViewPage">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>