<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WIA2007MAD"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".AllModules.SplashScreen"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllModules.Login"></activity>
        <activity android:name=".AllModules.MainHomePage">
        </activity>

        <activity android:name=".AllModules.MainPageElearning"
            android:parentActivityName=".AllModules.MainHomePage">

        </activity>
        <activity android:name=".AllModules.ScholarshipGrant"
            android:parentActivityName=".AllModules.MainPageElearning">
        </activity>
        <activity android:name=".AllModules.Workshop"
            android:parentActivityName=".AllModules.MainPageElearning">
        </activity>

        <activity android:name=".AllModules.ResourceSharingHub"
            android:parentActivityName=".AllModules.MainPageElearning"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <activity android:name=".AllModules.ScholarshipDetails"
            android:parentActivityName=".AllModules.ScholarshipGrant">
        </activity>
        <activity android:name=".AllModules.webViewPage">
        </activity>
        <activity android:name=".AllModules.ResetPassword"
            android:parentActivityName=".AllModules.Login">
        </activity>
        <activity android:name=".AllModules.Register"
            android:parentActivityName=".AllModules.Login">
        </activity>

        <activity android:name=".AllModules.WorkshopDetails"
            android:parentActivityName=".AllModules.Workshop"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".AllModules.web"
            android:exported="false">

        </activity>
        <activity
            android:name=".AllModules.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".AllModules.recentConversation"/>
        <activity
            android:name=".AllModules.recentConversation"
            android:exported="false"
            android:parentActivityName=".AllModules.CounsellingService"/>
        <activity
            android:name=".AllModules.selectCounsellorActivity"
            android:exported="false"
            android:parentActivityName=".AllModules.recentConversation"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD75uNNaoCnlpAaskEv0xnYaO5IQPRirjk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".AllModules.CounsellingService"
            android:exported="false"
            android:parentActivityName=".AllModules.HealthHome"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".AllModules.HealthEducation"
            android:exported="false"
            android:parentActivityName=".AllModules.HealthHome"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".AllModules.EmergencyLocator"
            android:exported="false"
            android:parentActivityName=".AllModules.HealthHome"/>

        <activity
            android:name=".AllModules.HealthHome"
            android:exported="false"
            android:parentActivityName=".AllModules.MainHomePage"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />

        <activity android:name=".AllModules.socialmarket.Home"
            android:parentActivityName=".AllModules.MainHomePage">
        </activity>

        <activity android:name=".AllModules.socialmarket.Business"
            android:parentActivityName=".AllModules.socialmarket.Home">
        </activity>

        <activity android:name=".AllModules.socialmarket.Marketing"
            android:parentActivityName=".AllModules.socialmarket.Home">
        </activity>

        <activity android:name=".AllModules.socialmarket.Success"
            android:parentActivityName=".AllModules.socialmarket.Home">
        </activity>

        <activity android:name=".AllModules.socialmarket.CardDetailsActivity"
            android:parentActivityName=".AllModules.socialmarket.Home">
        </activity>

        <activity android:name=".AllModules.socialmarket.SuccessDetailsActivity"
            android:parentActivityName=".AllModules.socialmarket.Home">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".AllModules.firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>